#hero {
  background-image: url('../../images/background.jpeg');
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.container-header {
  background-image: linear-gradient(#284b63d5, #3c6e71d7);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.container-header  button {
  margin-bottom: 5rem;
  align-self: center;
}

.container-header > div {
  margin-top: 50vh;
}

#hero h1 {
  color: rgb(184, 182, 182);
}

#hero h2 {
  color: rgb(163, 163, 163);
  font-weight: 800;
}

@media screen and (max-width: 769px) {
  #hero {
    background-image: url('../../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-header {
    align-items: center;
    justify-content: space-evenly;
  }

  .container-header  button {
    margin-bottom: 12rem;
  }

  .container-header > div {
    margin-top: 12rem;
    align-self: center;
    max-width: 80%;
    text-align: center;
  }

  #hero h1 {
    color: rgb(184, 182, 182);
    font-size: 2rem;
  }

  #hero h2 {
    color: rgb(163, 163, 163);
    font-weight: 800;
    font-size: 1.3rem;
  }
  
}
