#hero {
  background-image: url('../../images/background.jpeg');
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.container-header {
  background-image: linear-gradient(#284b63d5, #3c6e71d7);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.container-header > button {
  margin-bottom: 5rem;
}

.container-header > div {
  margin-top: 50vh;
  align-self: center;
}

#hero h1 {
  color: rgb(184, 182, 182);
}

#hero h2 {
  color: rgb(163, 163, 163);
  font-weight: 800;
}