#skills {
  display: flex;
  flex-flow: row wrap;
  max-width: 60vw;
  margin-top: 3rem;
  justify-content: center;
}

#skills > div {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 1rem;
  margin: 1rem;
  max-height: 16rem;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.8s ease;
}

#skills > div:hover {
  transform: scale(1.1);
}

#skills > div > img {
  max-height: 80%;
  height: auto;
  margin-top: 0.8rem;
}
