#carousel-parent {
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #000000; */
  padding: 0.5rem;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.slides input {
  display: none;
}

.slide-images {
  display: flex;
  flex-flow: row;
  height: 90%;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

/* manual navigation */
.navigation-manual {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.manual-btn {
  border: 2px solid #3c6e71;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: #3c6e71;
}

#carousel-parent i:hover {
  color: white;
  transform: scale(1.5);
}
