#works {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #353535;
  padding: 0 3rem 3rem;
  color: #d9d9d9;
  justify-content: space-between;
}

#works .filters {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: 2rem auto;
}

#works .filters button {
  flex-basis: 30%;
}

.galery {
  display: flex;
  width: 90%;
  text-align: justify;
  margin: 1rem;
}

.text {
  padding: 1rem;
  width: 48%;
}

.galery .text h1 {
  color: #3c6e71;
}

.galery .text h2 {
  color: white;
}

.galery-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.galery-images img {
  width: 45%;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.links {
  width: 20%;
  font-size: 1.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-evenly;
}

.links a {
  color: #3c6e71;
}

.links a:hover {
  color: #284b63;
}

@media screen and (max-width: 769px) {
  #works .filters {
    width: 100%;
  }

  #works .filters button {
    font-size: 0.8rem
  }

  .galery {
    width: 100%;
    margin: 0.2rem;
    flex-flow: column nowrap;
  }

  .text {
    padding: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
  }

  .galery .text h1 {
    font-size: 1.2rem;
  }
  
  .galery .text h2 {
    font-size: 1rem;
  }

  .links {
    width: 100%;
    justify-content: center;
  }

  .links a {
    margin: 1rem;
  }

  .galery-images {
    width: 100%;
    justify-content: center;
  }

  .galery-images img {
    width: 90%;
  }
}
