* {
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
  background-color: rgb(243, 240, 240);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  width: 100vw;
}

button {
  font-weight: 700;
}
